#### Copyright 2019 Google LLC.

In [ ]:
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Dataset Exploration

For this project you will be given a dataset and an associated problem. Over the course of the day, you will explore the dataset and train the best model you can in order to solve the problem. At the end of the day, you will give a short presentation about your model and solution.

### Deliverables

1. A **copy of this Colab notebook** containing your code and responses to the ethical considerations below.
1. At the end of the day, we will ask you and your group to stand in front of the class and give a brief **presentation about what you have done**.

## Team

Please enter your team members' names in the placeholders in this text area:

*   *Team Member Placeholder*
*   *Team Member Placeholder*
*   *Team Member Placeholder*

# Exercises

## Exercise 1: Coding

[Kaggle](http://www.kaggle.com) hosts a [dataset containing US airline on-time statistics and delay data](https://www.kaggle.com/giovamata/airlinedelaycauses) from the [US Department of Transportation's Bureau of Transportation Statistics (BTS)](https://www.bts.gov/). In this project, we will **use flight statistics data to gain insights into US airports' and airlines' flights in 2008.**

You are free to use any toolkit we've covered in class to solve the problem (e.g. Pandas, Matplotlib, Seaborn).

Demonstrations of competency:
1. Get the data into a Python object.
1. Inspect the data for each column's data type and summary statistics.
1. Explore the data programmatically and visually.
1. Produce an answer and visualization, where applicable, for at least three questions from the list below, and discuss any relevant insights. Feel free to generate and answer some of your own questions.

  * Which U.S. airport is the busiest airport? You can decide how you'd like to measure "business" (e.g., annually, monthly, daily).
  * Of the 2008 flights that are *actually delayed*, think about:
    * Which 10 U.S. airlines have the most delays?
    * Which 10 U.S. airlines have the longest average delay time?
    * Which 10 U.S. airports have the most delays?
    * Which 10 U.S. airports have the longest average delay time?
  * More analysis:
    * Are there patterns on how flight delays are distributed across different hours of the day?
    * How about across months or seasons? Can you think of any reasons for these seasonal delays?
    * If you look at average delay time or number of delays by airport, does the data show linearity? Does any subset of the data show linearity?
    * Add reason for delay to your delay analysis above.
    * Examine flight frequencies, delays, time of day or year, etc. for a specific airport, airline or origin-arrival airport pair.

### Student Solution

In [ ]:
# Use as many text and code blocks as you need to create your solution.
# Make sure to take notes and add lots of code comments, so your instructor
# understands what you are doing!

# Get data from Kaggle
! chmod 600 kaggle.json && (ls ~/.kaggle 2>/dev/null || mkdir ~/.kaggle) && mv kaggle.json ~/.kaggle/ && echo 'Done'
! kaggle datasets download giovamata/airlinedelaycauses

kaggle.json
Done
airlinedelaycauses.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
# Import libraries
import os
import pandas as pd
import zipfile

In [ ]:
# Unzip data
with zipfile.ZipFile('airlinedelaycauses.zip') as zip_file:
    zip_file.extractall('./')

os.listdir()

['.config',
 'airlinedelaycauses.zip',
 'st99_d00.shp',
 'DelayedFlights.csv',
 'st99_d00.dbf',
 'st99_d00.shx',
 'sample_data']

In [ ]:
# Look at data
df = pd.read_csv('DelayedFlights.csv')

df.sample(10)

         Unnamed: 0  Year  Month  ...  NASDelay  SecurityDelay  LateAircraftDelay
825533      2777464  2008      5  ...       0.0            0.0                0.0
153             216  2008      1  ...       0.0            0.0               19.0
802687      2668151  2008      5  ...       0.0            0.0               61.0
1886904     6871888  2008     12  ...      50.0            0.0               62.0
1563283     5580868  2008     10  ...       0.0            0.0               20.0
1107872     3686844  2008      7  ...       0.0            0.0              104.0
172662       562889  2008      1  ...       0.0            0.0                8.0
32871        101456  2008      1  ...       0.0            0.0                0.0
1769823     6547711  2008     12  ...       0.0            0.0               36.0
1263590     4224062  2008      7  ...     156.0            0.0                0.0

[10 rows x 30 columns]

In [ ]:
df.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [ ]:
# Clean the dataframe
if 'Unnamed: 0' in df.columns:
    df.drop(columns='Unnamed: 0', inplace=True)

df.columns = ['Year',
              'Month',
              'Day of Month',
              'Day of Week',
              'Dep Time',
              'CRS Dep Time',
              'Arr Time',
              'CRS Arr Time',
              'Unique Carrier',
              'Flight Num',
              'Tail Num',
              'Actual Elapsed Time',
              'CSR Elapsed Time',
              'Air Time',
              'Arr Delay',
              'Dep Delay',
              'Origin',
              'Dest',
              'Distance',
              'Taxi In',
              'Taxi Out',
              'Cancelled',
              'Cancellation Code',
              'Diverted',
              'Carrier Delay',
              'Weather Delay',
              'NAS Delay',
              'Security Delay',
              'Late Aircraft Delay'
]
df.sample(5)

         Year  Month  ...  Security Delay  Late Aircraft Delay
109523   2008      1  ...             NaN                  NaN
38000    2008      1  ...             NaN                  NaN
116404   2008      1  ...             0.0                 28.0
529850   2008      3  ...             0.0                  0.0
1645586  2008     11  ...             0.0                145.0

[5 rows x 29 columns]

In [ ]:
def check_null(series):
    """Check series if there is null value"""
    return series.isnull().any()

def check_unique_size(series):
    """Return series unique size"""
    return series.unique().size

def check_space_value(series):
    """Return series that have 'space' value"""
    return series.apply(lambda x: x.strip()).str.len() == 0

In [ ]:
for column in df.columns:
    if check_null(df[column]):
        print("Check Null")
        print("Column [{}]: {}\n".format(column, check_null(df[column])))

Check Null
Column [Arr Time]: True

Check Null
Column [Tail Num]: True

Check Null
Column [Actual Elapsed Time]: True

Check Null
Column [CSR Elapsed Time]: True

Check Null
Column [Air Time]: True

Check Null
Column [Arr Delay]: True

Check Null
Column [Taxi In]: True

Check Null
Column [Taxi Out]: True

Check Null
Column [Carrier Delay]: True

Check Null
Column [Weather Delay]: True

Check Null
Column [NAS Delay]: True

Check Null
Column [Security Delay]: True

Check Null
Column [Late Aircraft Delay]: True

## Exercise 2: Ethical Implications

Even the most basic of data manipulations has the potential to affect segments of the population in different ways. It is important to consider how your code might positively and negatively affect different types of users.

In this section of the project, you will reflect on the ethical implications of your analysis.

### Student Solution

**Positive Impact**

Your analysis is trying to solve a problem. Think about who will benefit if the problem is solved, and write a brief narrative about how the model will help.

*\[Hypothetical entities\] will benefit because...*

**Negative Impact**

Solutions usually don't have a universal benefit. Think about who might be negatively impacted by your analysis. This person or persons might not be directly considered in the analysis, but they might be impacted indirectly.

*\[Hypothetical entity\] will be negatively impacted because...*

**Bias**

Data analysis can be biased for many reasons. The bias can come from the data itself (e.g. sampling, data collection methods, available sources), and from the interpretation of the analysis outcome.

Think of at least two ways that bias might have been introduced to your analysis and explain them below.

*One source of bias in the analysis could be...*

*Another source of bias in the analysis could be...*

**Changing the Dataset to Mitigate Bias**

The most common way that an analysis is biased is when the dataset itself is biased. Look back at the input data that you used for your analysis. Think about how you might change something about the data to reduce bias in your model.

What changes could you make to make your dataset less biased? Consider the data that you have, how and where that data was collected, and what other sources of data might be used to reduce bias.

Write a summary of the changes that could be made to your input data.

*Since the data has potential bias X, we can adjust...*

**Changing the Analysis Questions to Mitigate Bias**

Are there any ways to reduce bias by changing the analysis itself? This could include modifying the choice of questions you ask, the approach you take to answer the questions, etc.

Write a brief summary of any changes that you could make to help reduce bias in your analysis.

*Since the analysis has potential bias X, we can adjust...*

**Mitigating Bias Downstream**

While analysis can point to suggestions, it is people who make decisions based on them. What processes and/or rules should be in place for people and systems interpreting and acting on the results of your analysis to reduce the bias? Describe these below.

*Since the analysis has potential bias X, we can implement processes...*